<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>25249236105-5800d9no83qd27nud1vt3m1eee9j2unp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25249236105-5800d9no83qd27nud1vt3m1eee9j2unp</string>
	<key>API_KEY</key>
	<string>AIzaSyB2-Tizu30x8zrGTbkfpRFxrIKZRYAGIYY</string>
	<key>GCM_SENDER_ID</key>
	<string>25249236105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zensar.APNSTrial</string>
	<key>PROJECT_ID</key>
	<string>secondtry-7e700</string>
	<key>STORAGE_BUCKET</key>
	<string>secondtry-7e700.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:25249236105:ios:ee51292fbdb7088d</string>
	<key>DATABASE_URL</key>
	<string>https://secondtry-7e700.firebaseio.com</string>
</dict>
</plist>